:root{
    --dark-orange : #FB2E36;
    --orange : #FF6900;
    --bg-orange : #FFEDD4;
    --text-second : #4A5565;
    --bg-orange-hover : #FFD7A8;
    --pink : #E60076;
    --bg-pink : #FCE7F3;
}

body{
    background: #FFFCEA;
}

.text-orange{
    color: var(--orange);
}

.text-second{
    color: var(--text-second);
}

.text-pink{
    color: var(--pink);
}

.text-orange-hover:hover{
    color: var(--orange);
}

.bg-orange{
    background-color: var(--orange);
}

.bg-light-orange{
    background-color: var(--bg-orange);
}

.bg-gradiant-orange{
    background-image: linear-gradient(to right, var(--orange), var(--dark-orange));
}

.bg-light-pink{
    background-color: var(--bg-pink);
}

.bg-light-orange-hover:hover{
    background-color: var(--bg-orange-hover) !important;
}

.bg-gradiant-orange-hover:hover{
    background-image: linear-gradient(to right, #F54800, #E80008);
}

.border-orange{
    border-color: var(--orange) !important;
}

.border-yellow{
    border-color: #FFF6EA !important;
}

.fs-7{
    font-size: .9rem;
}

.fs-8{
    font-size: .75rem;
}

.w-20{
    width: 20px;
}

.h-20{
    height: 20px;
}

.w-26{
    width: 26px;
}

.h-26{
    height: 26px;
}

.w-35{
    width: 35px;
}

.h-35{
    height: 35px;
}

.w-48{
    width: 48px;
}

.h-48{
    height: 48px;
}

.w-40{
    width: 40px;
}

.h-40{
    height: 40px;
}

.w-45{
    width: 45px;
}

.h-45{
    height: 45px;
}

.h-350{
    height: 350px;
}

.max-h-100{
    max-height: 100%;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.pointer{
    cursor: pointer;
}

.transtion{
    transition: all .3s;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Start nav */
.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}
/* End nav */

/* Start main */
.nav-tabs{
    --bs-nav-tabs-border-width : 0;
}

.nav-tabs .nav-link{
    color: gray;
}

.nav-tabs .nav-link:hover{
    color: var(--text-second);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active{
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
}

.custom-btn:hover{
    scale: 1.06;
}
/* End main */

